body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #281457;
}
.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.map {
    flex-basis: 50%;
    height: 90vh;
}

.widgets {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    height: 90vh;
    position: relative;
}

.widget-background {
    position: absolute;
    top: 100;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #673dca;
    border-radius: 10px;
    opacity: 0.3;
    z-index: -1;
}

.widget {
    margin: 0 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 10px;
}

.widget h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: normal;
}

.widget p {
    margin-bottom: 0;
}

.curve_chart {
    width: 50vw;
    height: 50vh;
}

h2,
h3 {
    margin: 10px;
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

p {
    margin: 10px;
}

#title {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25pt;
    color: white
}

#subtitle {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 70px;
    margin-left: 190px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15pt;
    color: white
}

/* the layout of the legend panel */
#legend {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 110px;
    background: #172926;
    margin-right: 20px;
    margin-bottom: 40px;
    padding: 10px 20px 10px 10px;
    border-radius: 3px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

#features2 {
    top: 0;
    height: 120px;
    margin-top: 20px;
    width: 300px;
    color: white;
    opacity: 0.7;
}

/* each line for a break */
.break {
    position: relative;
    margin: 0px;
    padding: 0px;
}

/* basic style for a dot/circle */
.dot {
    display: inline-block;
    margin-top: 5px;
    border-radius: 50%;
    opacity: 0.6;
}

/* the label for the dot */
.dot-label {
    position: absolute;
    top: 0;
    right: 0;
    font-style: italic;
    margin-bottom: 40px;
}

.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    color: white;
}

.map-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    font-family: Helvetica, sans-serif;
    overflow: auto;
    border-radius: 10px;
}

.mapboxgl-canvas-container.mapboxgl-interactive,
.mapboxgl-ctrl-group button.mapboxgl-ctrl-compass {
    cursor: unset;
}

